# A

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_breast_cancer
from scipy.spatial.distance import euclidean, cityblock, chebyshev, cosine, mahalanobis

data = load_breast_cancer()
df = pd.DataFrame(data.data, columns=data.feature_names)
# print(len(df.columns))
# df.head()
# df.isnull().sum()
df_numeric = df.select_dtypes("number")
# print(len(df_numeric.columns))
df_numeric.head()

s = pd.Series(data.target)
s

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Length: 569, dtype: int64

# B

In [2]:
malignant = df_numeric[s == 0].head(3)
benign = df_numeric[s == 1].head(3)

samples = pd.concat([malignant, benign])
samples.head()
VI = np.linalg.inv(np.cov(df_numeric.T))

def distances(a, b):
    return {
        "Euclidean": euclidean(a, b),
        "Manhattan": cityblock(a, b),
        "Chebyshev": chebyshev(a, b),
        "Cosine": cosine(a, b),
        "Mahalanobis": mahalanobis(a, b, VI)
    }

results = []
idx = samples.index.tolist()

for i in range(len(idx)):
    for j in range(i+1, len(idx)):
        a = samples.loc[idx[i]].values
        b = samples.loc[idx[j]].values
        results.append([idx[i], idx[j], distances(a, b)])

df_distance = pd.DataFrame(results)
df_distance.head(100)

     0   1                                                  2
0    0   1  {'Euclidean': 341.7302620944424, 'Manhattan': ...
1    0   2  {'Euclidean': 376.4557648770267, 'Manhattan': ...
2    0  19  {'Euclidean': 1387.374891180714, 'Manhattan': ...
3    0  20  {'Euclidean': 1479.185295036699, 'Manhattan': ...
4    0  21  {'Euclidean': 1862.8262475621834, 'Manhattan':...
5    1   2  {'Euclidean': 276.7762394417638, 'Manhattan': ...
6    1  19  {'Euclidean': 1461.1498106376762, 'Manhattan':...
7    1  20  {'Euclidean': 1554.4986093557536, 'Manhattan':...
8    1  21  {'Euclidean': 1953.9708418090263, 'Manhattan':...
9    2  19  {'Euclidean': 1187.7534204696, 'Manhattan': 18...
10   2  20  {'Euclidean': 1281.1295090230858, 'Manhattan':...
11   2  21  {'Euclidean': 1681.0198465945932, 'Manhattan':...
12  19  20  {'Euclidean': 93.57348053917976, 'Manhattan': ...
13  19  21  {'Euclidean': 494.57118105971125, 'Manhattan':...
14  20  21  {'Euclidean': 402.28492815353826, 'Manhattan':...