In [1]:
import numpy as np
import pandas as pd

In [11]:
#ùë¶ = 2 ‚àí ùë•1 + 3ùë•2 + ùí©(ùúá, ùúé2)
np.random.seed(42)
n_samples = 1000
intercept = 2
coef_x1 = 1
coef_x2 = 3
mu = 0
var = 4
sigma = np.sqrt(var)

x = np.linspace(0, 2 * np.pi, n_samples)
x1 = x**3          # x‚ÇÅ = x¬≥
x2 = np.sin(x)     # x‚ÇÇ = sin(x)

noise = np.random.normal(mu, sigma, n_samples)
y_true = intercept + coef_x1*x1 + coef_x2*x2
y = y_true + noise

df = pd.DataFrame({
    'x': x,           # ŸÖÿ™ÿ∫€åÿ± ÿßÿµŸÑ€å
    'x1': x1,         # x¬≥
    'x2': x2,         # sin(x)
    'y_true': y_true, # ÿ®ÿØŸàŸÜ ŸÜŸà€åÿ≤
    'y': y,           # ÿ®ÿß ŸÜŸà€åÿ≤ (ÿ™ÿßÿ±⁄Øÿ™ ÿßÿµŸÑ€å)
    'noise': noise
})
df

            x            x1            x2      y_true           y     noise
0    0.000000  0.000000e+00  0.000000e+00    2.000000    2.993428  0.993428
1    0.006289  2.487959e-07  6.289433e-03    2.018869    1.742340 -0.276529
2    0.012579  1.990367e-06  1.257862e-02    2.037738    3.333115  1.295377
3    0.018868  6.717488e-06  1.886730e-02    2.056609    5.102668  3.046060
4    0.025158  1.592293e-05  2.515525e-02    2.075482    1.607175 -0.468307
..        ...           ...           ...         ...         ...       ...
995  6.258027  2.450825e+02 -2.515525e-02  247.007080  246.444879 -0.562201
996  6.264317  2.458222e+02 -1.886730e-02  247.765629  251.361002  3.595373
997  6.270606  2.465634e+02 -1.257862e-02  248.525667  249.807353  1.281686
998  6.276896  2.473061e+02 -6.289433e-03  249.287195  248.144837 -1.142358
999  6.283185  2.480502e+02 -2.449294e-16  250.050213  251.195379  1.145166

[1000 rows x 6 columns]